*{
    box-sizing: border-box;
}

.contGato{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gato{
    display: flex;
    width: 30%;
    height: 30%;
}

img{
    width: 100%;
    
}

@media (min-width: 721px) and (max-width: 1200px){
    .contGato{
        background-image: url(../img/Landscape.jpg);
        width: 100%;
        height: 600px;
        background-size: cover;
    }
        .gato {
        background-image: url(../img/kitten-large.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media (min-width: 421px) and (max-width: 720px){
    .contGato{
        background-image: url(../img/dawn.png);
        width: 100%;
        height: 400px;
        background-size: cover;
    }
    
    .gato {
        background-image: url(../img/kitten-medium.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
        
    
}

@media (min-width: 0px) and (max-width: 420px){
    .contGato{
        background-image: url(../img/maxresdefault.jpg);
        width: 100%;
        height: 400px;
        background-size: cover;
    }
    
    .gato {
        background-image: url(../img/kitten-small.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
        
    
}

